body{
    background-color: #f0f0f0;
    margin: 0;
    height: 100vh;

    /* Center the circle */
    display: flex; 
    justify-content: center;
    align-items: center;
}

.circle{
    width: 200px;
    height: 200px;
    background-color: blue;
    border-radius: 50%;

    cursor: pointer;
    transition: all 0.3s ease;
}

.circle:hover{
    background-color: #00BFFF;
    transform: scale(1.1);
    box-shadow: 0 0 20px rgba(0, 0, 255, 0.5);
}